<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ouch.ouchworkout">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.OuchWorkout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Delete Workouts-->
        <activity
            android:name=".activities.EDeletingWorkouts"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>

        <!-- Settings Configuration -->
        <activity android:name=".activities.SettingsEditor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>

        <!-- Start Workouts -->
        <activity
            android:name=".activities.SChoosingWorkouts"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>
        <activity
            android:name=".activities.SExerciseSelection"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>
        <activity
            android:name=".activities.SWorkoutInformation"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>
        <activity
            android:name=".activities.SAfterExercise"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>
        <activity
            android:name=".activities.SExerciseManualSelection"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>

        <activity
            android:name=".activities.SExecutingExercise"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>
        <activity
            android:name=".activities.SCompletedWorkout"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>

        <!-- Edit/Create Workouts-->
        <activity
            android:name=".activities.EExistingWorkouts"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OuchWorkout" />
        </activity>
        <activity
            android:name=".activities.EWorkoutExerciseSelector"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EExistingWorkouts" />
        </activity>
        <activity
            android:name=".activities.EWorkoutOrganizer"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EExistingWorkouts" />
        </activity>
        <activity
            android:name=".activities.EWorkoutCustomizer"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.EWorkoutOrganizer" />
        </activity>

    </application>
</manifest>