<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ouch.ouchworkout">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WorkoutAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ExecutingExerciseAct"
            android:noHistory="true"
            android:parentActivityName=".activities.WorkoutAct">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkoutAct" />
        </activity>
        <activity
            android:name=".activities.SettingsAct"
            android:parentActivityName=".activities.WorkoutAct">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkoutAct" />
        </activity>
        <activity
            android:name=".activities.ExerciseSelectionAct"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkoutAct" />
        </activity>
        <activity
            android:name=".activities.ReviewerAct"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkoutAct" />
        </activity>
        <activity
            android:name=".activities.AfterExerciseAct"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkoutAct" />
        </activity>
        <activity
            android:name=".activities.CompletedWorkoutAct"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WorkoutAct" />
        </activity>
        <activity android:name=".activities.ExercisePickerAct"></activity>
    </application>

</manifest>